@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
* {
    outline: none;
    box-sizing: border-box;
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    background-color: #d7722c;
    /* margin-top: 15px; */
    color: white;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 50px;
}


.centre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}


.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-img {
    flex-shrink: 0;
    border: none;
    bottom: -35px;
    left: 35px;
    border-radius: 5px;
    box-shadow: -2px 6px 19px 0px #7f818e;
    transition: 0.3s ease;
    width: 280px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
}

.card-img:hover {
    transform: scale(1.07);
}

.card-body-wrap {
    display: flex;
}

.card {
    transition: 0.5s;
    cursor: pointer;
    background-color: #354259;
    border: none;
    border-radius: 5px;
    padding-left: 0;
    box-shadow: -2px 6px 19px 0px #7f818e;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    color: #FBCB0A;
    font-weight: bolder;
    text-align: justify;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    color: #FFF2F2;
    font-weight: 300;
    text-align: justify;
    font-size: 18px;
    padding-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    content: "";
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}

.more-details {
    text-align: center;
    background-color: #FF5D5D;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    right: 2%;
    font-family: 'Raleway', sans-serif;
}

.more-details:hover {
    color: #FF5D5D;
    background: white;
    border: 2px solid #FF5D5D;
    text-shadow: 1px 1px 3px #FF8C8C;
}

.rating-block {
    display: inline-block;
    text-align: center;
    background-color: white;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: 4%;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    border: #7f818e;
}

.rating-block:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
}

.rating-block.btn,
.btn.more-details {
    padding: 8px;
}

.rating-block:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
    background-color: #7f818e;
}

.rateYo {
    display: none;
}

.card-deck {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 600px) {
    .card-text {
        margin-bottom: 10px !important;
    }
    .rating-block {
        left: 5%;
        font-size: 12px;
    }
    .more-details {
        right: 10px;
        font-size: 12px;
    }
    .card-deck {
        padding-right: 0;
        padding-left: 8%;
    }
}

@media (max-width: 390px) {
    .card,
    .card-deck {
        margin-left: -1.5%;
    }
}